* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 10px;
}
.content_wrapper {
    max-width: 1200px;
    margin: 0 auto;
}
.header, .design_and_markup {
    background-color: #EEEFF1;
}
.header {
    padding-top: 5.7rem;
}
.logo {
    font: 400 4.8rem 'Revalia';
    font-style: cursive;
    color: #34547A;
    float: left;
}
.nav {
    padding-top: 2.5rem;
    float: right;
}
.nav ul {
    list-style-type: none;
}
.nav li {
    float: left;
    padding-left: 4.2rem;
}
.nav a {
    text-decoration: none;
    text-transform: uppercase;
    font: 400 1.6rem 'Roboto', sans-serif;
    letter-spacing: 0.1em;
    color: #000;
}
.nav a:hover {
    color: #34547A;
}
.nav .current_page {
    font: 500 1.6rem 'Roboto', sans-serif;
    color: #34547A;
}
.design_and_markup {
    padding-top: 18rem;
    height: 58rem;
}
.design_and_markup img {
    float: left;
    padding: 0 15rem 0 8rem;
}
.design_and_markup h1 {
    font: 500 4.8rem/0.9rem 'Roboto', sans-serif;
    margin-bottom: 6rem;
}
.text {
    font: 400 1.6rem/3rem 'Roboto', sans-serif;
    color: #727272;
}
.design_and_markup .text {
    padding-right: 13rem;
    margin-bottom: 6rem;
}
.btn {
    width: 22.5rem;
    height: 6.5rem;
    border: none;
    background-color: #34547A;
    text-transform: uppercase;
    font: 400 1.6rem/3rem 'Roboto', sans-serif;
    color: #FFFFFF;
}
.btn:hover {
    cursor: pointer;
    background-color: #4975aa;
}
.about {
    background: #ffffff;
    padding: 12rem 0 10rem 0;
}
.section_title {
    font: 500 3.2rem 'Roboto', sans-serif;
    color: #000;
}
.about .content_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.about h2 {
    margin-bottom: 5rem;
}
.about .text {
    width: 50rem;
    text-align: center;
}